/* Add to Table.css if you want to highlight pending status */
.subject-list td,
.subject-list th {
  text-align: center;
}

.back-button {
  margin: 16px;
  padding: 8px 16px;
  background-color: transparent;
  color: #003366;
  border: 2px solid #003366;
  border-radius: 6px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: #003366;
  color: white;
}


.wait-btn {
  background-color: orange;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-buttons button:last-child {
  background-color: #dc3545;
  margin-right: 0;
}