/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(244, 243, 243);
} */

.department-wrapper {
  max-width: 1440px;
  margin: 5px auto;
  padding: 3px;
  color: #003366;
  font-family: Arial, sans-serif;
}

.grid-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.department-form-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
    min-width: 50px;
    margin: 50px;
  margin-top: 25px;
  max-width: 250px;
  box-sizing: border-box;

}

.department-label {
  font-size: 16px;

  margin-bottom: 6px;
  font-weight: bold;
  color: #003366;
}

select,
input {
  padding: 10px;
  border: 1px solid #003366;
  border-radius: 5px;
  font-size: 16px;
  color: #003366;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  max-width: 70px;
  margin-left: 550px;
}

.grid-button {
  padding: 10px 24px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.grid-button:hover {
  background-color: #004080;
}
