.staff-table-wrapper {
  padding: 20px;
  width: 80%;
  margin-left:40px;
}

.table-wrapper {
  display: flex;
  width: 1600px;
  justify-content: center;
}

.staff-table {
  width: 75%;
  border-collapse: collapse;
}

.staff-table th,
.staff-table td {
  padding: 10px;
  border: 0px solid #ccc;
}
.staff-table th{
  background-color: #003366;
  color:#fff;
  
}
.staff-table td {
  text-align: center;
  font-size: 16px;
  margin-right: -120px;
  color: #003366;
}

.row-white {
  background-color: #fff;
}

.row-grey {
  background-color: #f7f7f7;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.g-button {
  padding: 10px 24px;
  background-color: #003366;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 380px;
  transition: background-color 0.2s ease;
}

.g-button:hover {
  background-color: #c0c1c5;
  color: #003366;
}
.staff-table-header{
  margin-left: -250px;
}

.grid-title1 {
  text-align: center;
  font-size: 24px;
  margin: 40px 0 30px;
  color: #003366;
  margin-left: 110px;
}
.no-staff-message{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-left: -310px;
}